:root {
  --md-primary-fg-color:         #be2435;
  --md-accent-fg-color:          #be2433;
}

.center {
    display: block;
    margin: 0 auto;
}

.md-sidebar{
  max-width: 180px;
}

.md-content {
  max-width: 750px;
}

.md-grid {
  max-width: 950px;
  margin-left: 0px;
}

.md-typeset__table {
    min-width: 100%;
}

.md-typeset table:not([class]) {
    display: table;
}
