process {
    withLabel: pinn {
        container='yqshao/tips:pinn-gpu'
        containerOptions='--nv'
        cputs=1
        accelerator=1
    }
    withLabel: lammps {
        container='yqshao/tips:lammps'
        cpus=1
    }
}

executor {
    name = 'local'
    cpus = 18
}

singularity {
    enabled = true
    autoMounts = true
}
