profiles {
  standard {
    process {
        withLabel: pinn {
            container='yqshao/tips:pinn-gpu'
            containerOptions='--nv'
            cpus=1
            accelerator=1
        }
        withLabel: lammps {
            container='yqshao/tips:lammps'
            cpus=1
        }
    }
    executor {
      name = 'local'
      cpus = 18
    }
  }
  alvis {
    process {
      executor = 'slurm'
      withLabel: pinn {
        container='yqshao/tips:pinn-gpu'
        clusterOptions = '--gres=gpu:A100:1'
        containerOptions='--nv'
        cpus=1
        accelerator=1
        time='2h'
      }
      withLabel: lammps {
        container='yqshao/tips:lammps'
        clusterOptions = '--gres=gpu:T4:1'
        cpus=1
        time='1h'
      }
    }
    executor {
      name = 'sge'
      cpus = 18
    }
  }
}

singularity {
    enabled = true
    autoMounts = true
}
